:root {
  --color-white: #ffffff;
  --color-black: #22292f;
  --color-grey-lightest: #f8fafc;
  --color-grey-lighter: #f1f5f8;
  --color-grey-light: #dae1e7;
  --color-grey-base: #b8c2cc;
  --color-grey-dark: #8795a1;
  --color-grey-darker: #606f7b;
  --color-grey-darkest: #3d4852;

  --color-indigo-lightest: #e6e8ff;
  --color-indigo-lighter: #b2b7ff;
  --color-indigo-light: #7886d7;
  --color-indigo-base: #6574cd;
  --color-indigo-dark: #5661b3;
  --color-indigo-darker: #2f365f;
  --color-indigo-darkest: #191e38;
}
body {
  padding-top: 3rem;
  max-width: 700px;
  margin: auto;
  background: var(--color-grey-lighter);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
textarea {
  width: 100%;
}
#studentsFromExcel {
  height: 300px;
}
body label,
body[data-step="1"] button {
  display: none;
}
label {
  font-weight: bold;
  color: var(--color-grey-darkest);
  border-radius: 8px;
  background: var(--color-white);
  border: 0.1px solid var(--color-grey-base);
  padding: 3rem;
  box-shadow: 10px 10px 5px -4px var(--color-grey-dark);
  margin-bottom: 2rem;
}
label > *:first-child {
  margin-top: 1rem;
}
input,
textarea {
  display: block;
}
textarea {
  min-height: 300px;
}
label * {
  color: black;
}
button {
  all: unset;
  padding: 1rem;
  background: var(--color-white);
  border-radius: 8px;
  color: var(--color-grey-darker);
  border: 2px solid var(--color-white);
  box-shadow: 2px 2px 5px -4px var(--color-grey-dark);
}
button:hover {
  transition: 1s all;
  color: var(--color-grey-dark);
  border: 2px solid var(--color-grey-darker);
  cursor: pointer;
}
.textgrid {
  display: flex;
  gap: 1rem;
  align-items: stretch;
}
#studentCheck {
  font-weight: 100;
  border: none;
}

.textgrid > *:first-child {
  width: 70%;
  overflow: scroll;
}
.textgrid > *:last-child {
  width: 20%;
  overflow: scroll;
}

body[data-step="1"] label:first-child {
  display: block;
}
body[data-step="2"] label:nth-child(2) {
  display: block;
}
body[data-step="3"] label:nth-child(3) {
  display: block;
}
body[data-step="3"] #next {
  display: none;
}
